.App {
  text-align: center;
}

header{
  background: cornflowerblue;
  height: 50px;
  margin-bottom: 50px;
  color: aliceblue;
  font-size: 36px;
  font-weight: 800;
}

.container{
    height: 500px;
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;
}